* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --text-color: white;
  --bg-url: url(./assets/bg-mobile.jpg);
  --stroke-color: rgba(255, 255, 255, 0.5);
  --surface-color: rgba(255, 255, 255, 0.05);
  --surface-color-hover: rgba(0, 0, 0, 0.02);
  --highlight-color: rgba(255, 255, 255, 0.2);
  --switch-bg-url: url(./assets/moon-stars.svg);
}

.light {
  --text-color: black;
  --bg-url: url(./assets/bg-mobile-light.jpg);
  --stroke-color: rgba(0, 0, 0, 0.5);
  --surface-color: rgba(0, 0, 0, 0.05);
  --surface-color-hover: rgba(0, 0, 0, 0.02);
  --highlight-color: rgba(0, 0, 0, 0.1);
  --switch-bg-url: url(./assets/sun.svg);
}

body * {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  color: var(--text-color);
}

body {
  background: var(--bg-url) no-repeat top center/cover;
}

.container {
  width: 100%;
  max-width: 36.75rem;
  margin: 3.5rem auto 0;
  padding: 0 1.5rem;
}
/* profile */
.profile {
  text-align: center;
  padding: 1.5rem;
}

.profile img {
  width: 7rem;
  border-radius: 50%;
}

.profile p {
  font-weight: 500;
  line-height: 1.5rem;
  margin-top: 0.5rem;
}
/* switch */
#switch {
  position: relative;
  width: 4rem;
  margin: 0.25rem auto;
}

#switch span {
  display: block;
  width: 4rem;
  height: 1.5rem;
  background: var(--surface-color);
  border: var(--stroke-color) solid 0.0625rem;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 9999px;
}

#switch button {
  width: 2rem;
  height: 2rem;
  background: white var(--switch-bg-url) no-repeat center;
  border: 0;
  border-radius: 50%;
  left: 0;
  position: absolute;
  top: 50%;
  z-index: 1;

  transform: translateY(-50%);
}

.light #switch button {
  right: 0;
  left: initial;
}

/* links */
ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1.5rem 0;
}

ul li a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 1.5rem;
  text-decoration: none;
  background: var(--surface-color);
  border: var(--stroke-color) solid 0.0625rem;
  border-radius: 0.5rem;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  font-weight: 500;
  transition: background 0.2s;
}

/* pseudo-selector */
ul li a:hover {
  background: var(--surface-color-hover);
  border: var(--text-color) solid 0.093rem;
}

/* social links */
.social-links {
  display: flex;
  justify-content: center;
  padding: 1.5rem;
  font-size: 1.5rem;
}

.social-links a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  transition: background 0.2s;
  border-radius: 50%;
}

.social-links a:hover {
  background: var(--highlight-color);
}

footer {
  text-align: center;
  padding: 1.5rem 0;
  font-size: 0.875rem;
}

/* media queries */
@media (min-width: 43.75rem) {
  :root {
    --bg-url: url(./assets/bg-desktop.jpg);
  }

  .light {
    --bg-url: url(./assets/bg-desktop-light.jpg);
  }
}

/* animation */
